<a href="/lists">Home</a></br>
<a href="/logout">logout</a></br>
<h3>Tasks:</h3>
<%@list.tasks.each.with_index(1) do |task, index|%>
<p><%=index%>.
<a href='/tasks/<%=task.id%>'><%=task.name%></a></p>
<%end%>



<br/>
<br/>
<br/>
<br/>

<a href="/tasks/new">Add a task</a>
<br/>
<br/>

<form action="/lists/<%=@list.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete List">
</form>
