<h1>Add a Task!</h1>

<form action="/tasks" method="POST">
  <label>Task Name:</label>

  <br></br>

  <input type="text" name="task[name]">

  <br></br>

  <%@lists.each do |list|%>
    <input type="checkbox" name="task[list_id]" value="<%=list.id%>" id="<%=list.id%>"><%=list.name%></input>
<%end%>

<br></br>

and/or, create a new list:
    <br></br>
    <label>Name:</label>
      <input  type="text" name="list[name]"></input>
    <br></br>

  <input type="submit" value="Create Task">
</form>
