<a href="/lists">Home</a></br>
<a href="/logout">logout</a></br>
<h3>Your Tasks in <%=@task.list.name%>:</h3>
<p><%=@task.name%></p>

<form action="/tasks/<%=@task.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Task">
</form>
